hpack==4.0.0
hyperframe==6.0.1
h2==4.1.0
lxml~=4.6.4
bs4~=0.0.1
beautifulsoup4~=4.10.0
soupsieve~=2.3.1
pip==21.3.1
wheel==0.37.0
cryptography~=36.0.0
attrs~=21.2.0
cssselect~=1.1.0
six~=1.16.0
w3lib~=1.22.0
parsel~=1.6.0
pyasn1~=0.4.8
Twisted~=21.7.0
Scrapy~=2.5.1
itemadapter~=0.4.0
PyDispatcher~=2.0.5
itemloaders~=1.0.4
queuelib~=1.6.2
Automat~=20.2.0
cffi~=1.15.0
incremental~=21.3.0
priority==2.0.0
constantly~=15.1.0
hyperlink~=21.0.0
jmespath~=0.10.0
idna~=3.3
pycparser~=2.21
setuptools==59.5.0